.ant-select-selector {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
}

.ant-select-selector .ant-select-selection-item {
  color: #242424;
  font-size: 1rem !important;
  font-weight: 700 !important;
}
