.selectWrapper__control {
  min-height: 3.5rem !important;
  border: 1px solid #1b9876 !important;
}

.selectWrapper__placeholder {
  font-size: 1rem !important;
  font-weight: 500 !important;
  color: #828282 !important;
}
