$green-gradient: linear-gradient(
  100.54deg,
  #035762 15.26%,
  #23b07d 68.91%,
  #3fd0c9 100.41%
);
$orange-gradient: linear-gradient(
  100.54deg,
  #c95339 15.26%,
  #bc9e34 68.91%,
  #f3e351 100.41%
);
$red-gradient: linear-gradient(
  100.54deg,
  #610a04 11.74%,
  #a94335 57%,
  #d38a46 100.41%
);
