.footer {
  display: flex;
  height: 7rem;
  background-color: #f3f3f3;
  justify-content: flex-end;
  /* height: 3rem !important; */
  padding: 1.25rem 0.5rem;
}

.pagination {
  display: flex;
  gap: 1.75rem;
  /* margin-right: 3.5rem; */
  align-items: center;
  padding: 0 1.5rem;
}

.paginationIcon {
  font-weight: 700;
  font-size: 16px;
}

.paginationHeading {
  font-size: 1.5rem;
  font-weight: 700;
}

.paginationMidSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.paginationSubText {
  margin-top: 1px;
}

.cursor {
  cursor: pointer;
}

.disable {
  cursor: not-allowed;
}
