.card {
  background: #ffffff;
  border: none !important;
}
.card-header {
  text-align: center;
  background: none !important;
  border: none;
  color: #1b9876 !important;
  font-family: Poppins, sans-serif;
}
.card-title {
  color: #1b9876;
  font-family: Poppins, sans-serif;
}
.card-text {
  margin-top: 20px;
  color: #223333;
  font-family: Poppins, sans-serif;
  font-size: 16px;
}
.list-text {
  color: #223333;
  font-family: Poppins, sans-serif;
  font-size: 16px;
}
